.newsbox{
    border-radius: 1rem;
    margin:1rem;
    border: 1px solid black;
    background-color: darkcyan;
}
.img{
    border-radius: 1rem;
    padding:0;
    margin: 0;

}
a{
    padding:0;
    margin:0;
}
h3{
    padding:0;
    margin:0;
}